@charset "UTF-8";

/*Todas as demais mídias*/

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    width: 99vw;
    height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

div.hh1 {
    margin: 20px 40px ;
}

div.hh1 > h2 {
    font-size: small;
}

nav > ul > li {
    display: inline-block;
    margin: 30px 20px 0px 0px;
}

a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: large;
}

a.bt  {
    border: 2px solid black;
    border-radius: 7px;
    padding: 10px 25px;    
}

a.bt:hover {
    background-color: rgb(25, 41, 82);
    color: white;
    transition: .5s;
}

main {
    width: 99vw;
}

section {
    display: grid;
    width: 99vw;
}

article.img {
    display: grid;
    width: 99vw;
    height: 500px;
    background-image: url(../img/pexels-david-underland-3523621\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

article.img > div {
    margin: 300px auto;
}

article.img > div > h1 {
    font-weight: 500;
    font-size: 70px;
    color: white;
}

article.peone {
    width: 1200px;
    height: 600px;
    margin: auto;
}

article.peone > div.otesc {
    float: right;
    width: 60%;
    margin-left: 10%;
}

article.peone > div.otesc > h1 {
    margin: 40px 0px;
    font-size: 40px;
}

article.peone > div.otesc > h2 {
    font-size: 20px;
}

article.peone > div.otesc > p {
    color: gray;
    line-height: 1.5em;
}

article.peone > div.imgp {
    width: 30%;
    height: 100%;
    float: left;
    background-image: url(../img/back-pc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

article.are {
    background-image: url(../img/background002.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    height: 500px;
    color: white;
}

article.are > h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}

article.are > div.container {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-template-rows: minmax(200px, auto);
    gap: 20px;
    text-align: justify;
}

article.are > div.container > div >h2 {
    margin-bottom: 8px;
}

footer {
    background-color: rgb(58, 59, 66);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 60px 0px;
}

footer > div > h1 {
    font-size: 60px;
}

footer > div > h3 {
    color: white;
}

footer > div > p {
    color: darkgray;
}

footer > div.ad > address {
    color: darkgray;
    width: 150px;
}

footer > div > p > a {
    color: green;
    font-size: 16px;
    margin-left: -20px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    header {
        display: inline-block;
        text-align: center;
    }

    div.hh1 > i#burguer {
        display: block;
        padding: 10px;
        font-size: 30px;
        background-color: rgb(29, 47, 94);
    }

    div.hh1 > i#burguer:hover {
        cursor: pointer;
        color: black;
    }

    nav > ul > li {
        display: block;
        margin: 0 20px 2px 30px;
        padding: 20px;
        background-color: rgb(29, 47, 94);
    } 
    
    nav {
        display: none;
    }
    a {
        font-size: 14px;
        padding: 5px;
    }

    article.qd {
        display: grid;
        margin: 80px auto;
        grid-template-columns: 1fr 1fr;
    }

    section article.sob {
        width: 99vw;
    }

    div.container {
        display: grid;
        grid-template-columns: 1fr;
        width: 80vw;
        height: 700px;
    }

    div.container > div.otimg {
        width: 60%;
        height: 300px;
        margin: 20px auto 0px;

    }

    div.container > div.th {
        text-align: justify;
        width: 90%;
        margin: auto;
    }

    div.container > div.th > h1 {
        font-size: 40px;
        margin: 5px 10px 5px 30px;
    }

    div.container > div.th > p.bt {
        margin-bottom: 50px;
    }

    div.container > div.th > a {
        margin: 0px 0px 0px 70px;
    }

    footer > div.ad > address {
        display: none;
    }

    footer > div > p > a {
        display: none;
    }

    footer > div > h3 {
        display: none;
    }

    footer > div > p {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    header {
        display: inline-block;
        text-align: center;
    }

    div.hh1 > i#burguer {
        display: block;
        padding: 10px;
        font-size: 30px;
        background-color: rgb(29, 47, 94);
    }

    div.hh1 > i#burguer:hover {
        cursor: pointer;
        color: black;
    }

    nav > ul > li {
        display: block;
        margin: 0 20px 2px 30px;
        padding: 20px;
        background-color: rgb(29, 47, 94);
    } 
    
    nav {
        display: none;
    }
    a {
        font-size: 14px;
        padding: 5px;
    }

    article.qd {
        display: grid;
        margin: 80px auto;
        grid-template-columns: 1fr;
    }

    section article.sob {
        width: 99vw;
    }

    div.container {
        display: grid;
        grid-template-columns: 1fr;
        width: 80vw;
        height: 700px;
    }

    div.container > div.otimg {
        width: 60%;
        height: 300px;
        margin: 20px auto 0px;

    }

    div.container > div.th {
        text-align: justify;
        width: 90%;
        margin: auto;
    }

    div.container > div.th > h1 {
        font-size: 40px;
        margin: 5px 10px 5px 30px;
    }

    div.container > div.th > p.bt {
        margin-bottom: 50px;
    }

    div.container > div.th > a {
        margin: 0px 0px 0px 70px;
    }

    footer > div.ad > address {
        display: none;
    }

    footer > div > p > a {
        display: none;
    }

    footer > div > h3 {
        display: none;
    }

    footer > div > p {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    header {
        display: inline-block;
        text-align: center;
    }

    div.hh1 > i#burguer {
        display: block;
        padding: 10px;
        font-size: 30px;
        background-color: rgb(29, 47, 94);
    }

    div.hh1 > i#burguer:hover {
        cursor: pointer;
        color: black;
    }

    nav > ul > li {
        display: block;
        margin: 0 20px 2px 30px;
        padding: 20px;
        background-color: rgb(29, 47, 94);
    } 
    
    nav {
        display: none;
    }
    a {
        font-size: 14px;
        padding: 5px;
    }

    article.qd {
        display: grid;
        margin: 80px auto;
        grid-template-columns: 1fr;
    }

    div.container {
        display: grid;
        grid-template-columns: 1fr;
        width: 80vw;
        height: 700px;
    }

    div.container > div.otimg {
        width: 200px;
        height: 200px;
        margin: 20px auto 0px;

    }

    div.container > div.th {
        text-align: justify;
        line-height: 1em;
        width: 90%;
        margin: auto;
    }

    div.container > div.th > h1 {
        font-size: 40px;
        margin: 5px 10px 5px 30px;
    }

    div.container > div.th > p.bt {
        margin-bottom: 50px;
    }

    div.container > div.th > a {
        margin: 0px 0px 0px 10px;
    }

    footer > div.ad > address {
        display: none;
    }

    footer > div > p > a {
        display: none;
    }

    footer > div > h3 {
        display: none;
    }

    footer > div > p {
        display: none;
    } 
}